<template>
  <div class="modal fade" id="createCodeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-header border-0">
        
          <button type="button" class="close bg-red" data-dismiss="modal" aria-label="Close">
            <img src="../assets/Cancel_White.svg" alt="close">
          </button>
        
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-2 border-right">
              <div class="w-100">
                
                <ul class="list-group list-group-flush">
                  <a href="#" v-for="(item,index) in pages" v-bind:key="index" class="list-group-item list-group-item-action border-0 px-0" v-on:click="currentPage = index" v-bind:class="{selected : currentPage == index}"><small>{{item}}</small></a>
                </ul>

              </div>
            </div>

            <div class="col-10">
              
              <CreateCode v-if="currentPage == 0"/>
              <TermsConditions v-if="currentPage == 1"/>

            </div>

          </div>
        
        </div>
        <div class="modal-footer border-0">
          
          <button type="button" class="mr-auto btn btn-back" v-bind:disabled="currentPage == 0" v-on:click="currentPage = 0">
            <img src="../assets/Prev_Red.png" class="align-middle"/>
            Back
          </button>
          
          <button type="button" class="btn px-3" v-bind:class="{ 'bg-blue' : currentPage == 0, 'bg-green' : currentPage == 1}" v-on:click="currentPage = 1">
            <small>
              {{btnNextText}}
              <img src="../assets/Next_White.png" v-if="currentPage == 0" class="ml-1 align-middle"/>
              <img src="../assets/Right_tick_White.svg" v-if="currentPage == 1" class="ml-1 align-middle"/>
            </small>
          </button>
        
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CreateCode from "../components/CreateCode.vue";
import TermsConditions from "../components/TermsConditions.vue";

export default {
  name:"Modal",
  components:{
    CreateCode,
    TermsConditions
  },
  data: function() {
    return{
      currentPage: 0,
      pages:[
        "CREATE A CODE",
        "TERMS & CONDITIONS"
      ]
    }
  },
  computed: {
    btnNextText: function() {
      return this.currentPage == 0 ? "TERMS & CONDITIONS" : "SAVE";
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../style.scss";
  
  .bg-red{
    background-color: $color-red;
  }

  .close{
    width:56px;
  }

  .selected{
    color: $color-red !important;
    background:white;
  }


  .list-group-item-action:focus, .list-group-item-action:hover{
    background:white;
  }

  .bg-blue, .bg-blue:hover{
    background-color: $color-blue;
    border: 1px solid $color-blue;
    color:white;
  }

  

  .bg-green, .bg-green:hover{
    background-color: $color-green;
    border: 1px solid $color-green;
    color:white;
  }

  .btn-back{
    border: 1px solid $color-red;
    color: $color-red;
  }

  .btn-back:focus, .btn-back:active {
    color: white;
    background: $color-red;
  }

</style>