<template>
  <div class="container-fluid">
    <div class="row header">
      
      <div class="col-sm-9 col-4 header-red text-left shadow-sm d-flex align-items-center">
        <img class="img-fluid" src="./assets/kotak-header.webp" alt="kotak-header">
      </div>
      <div class="col-sm-3 col-8 header-blue shadow-sm d-flex align-items-center justify-content-center">
        <button class="btn btn-outline-light px-4" v-on:mouseover="logInBtnHover = !logInBtnHover" v-on:mouseout="logInBtnHover = !logInBtnHover">
          <small>Log In</small>
          <img src="./assets/User_White.svg" alt="User_White" class="px-2 mx-2" v-if="!logInBtnHover">
          <img src="./assets/User_Black.svg" alt="User_White" class="px-2 mx-2" v-if="logInBtnHover">
        </button>
      </div>
    </div> 

    <div class="row p-md-2">
      <div class="h1 text-blue font-weight-bold mb-3 mt-2">OFFER DASHBOARD</div>
      <FilterBar/>
      <CardHeader />
      <div class="row w-100 mt-4">
        
        <div class="col-lg-6 col-12">
          <button class="btn btn-block btn-lg btn-danger text-caption py-3 d-lg-none">PROMO CODE</button>
          <Card v-for="code in promoCodes" v-bind:code="code" v-bind:key="code.codeName"/>
        </div>
        <div class="col-lg-6 col-12 border-left">
          <button class="btn btn-block btn-lg btn-danger text-caption py-3 mt-2 mt-lg-0 d-lg-none">DISCOUNT CODE</button>
          <Card v-for="code in discountCodes" v-bind:code="code" v-bind:key="code.codeName"/>  
        </div>  
      
      </div>
      <Modal/>

    </div>

  </div>
</template>

<script>
import getOffersREST from '@/rest/getOffersREST'
import FilterBar from "./components/FilterBar.vue";
import CardHeader from "./components/CardHeader.vue";
import Card from "./components/Card.vue";
import Modal from "./views/Modal.vue";
import _ from "lodash";

export default {
  name: 'Home',
  data: function() {
    return{
      logInBtnHover: false,
      promoCodes:[],
      discountCodes:[]
    }
  },
  components: {
    FilterBar,
    CardHeader,
    Card,
    Modal
  },
  created: function() {
    this.getOffers()
  },
  methods:{
      getOffers(){
        const self = this;
          getOffersREST.getRecords().then(response => {
          if(response && response.status == "success"){
                  if (response.message && response.message !== "") {
                      alert(response.message); 
                  }

                  let offerCodes = _.groupBy(response.availableOfferCodes,'codeType');
                  self.promoCodes = offerCodes.P;
                  self.discountCodes = offerCodes.D;

                  console.log( self.promoCodes)
                  console.log( self.discountCodes)
                  
              } 
              else{ 
                alert(response.message); 
              }
        })
        .catch(err => console.log(err));
      }
  }
}
</script>

<style lang="scss" scoped>
  @import 'style.scss';

  .header-red{
    background-color: $color-red;
    height: $header-height;
  }
  .header-blue{
    background-color: $color-blue;
    height: $header-height;
  }
  
  .h1{
    font-size: 28px;
  }

  .btn-danger{
    @extend %btn-red;
  }

</style>