$color-red: red;
$color-blue: #003366;
$color-green:#25D366;
$color-muted: #7CA6CF;
$header-height: 70px;

.text-caption{
  font-size: 14px;
}

.text-header{
  font-size: 18px;
}

%text-red{
  color: $color-red;
}

.text-red{
  color: $color-red;
}

%text-blue{
  color: $color-blue;
}

.text-blue{
  color: $color-blue;
}

%btn-red{
  border: 1px solid $color-red;
  background-color: $color-red !important;
}

.vue-notification-wrapper{
  .font14{font-size: 14px !important;}
}