<template>
  
  <div class="card w-100 shadow-sm py-2 my-2">
    <div class="w-100 d-flex px-2 mb-3">
      
      <div class="col-4 d-flex flex-column px-0">
        
        <div class="text-uppercase header-field mb-3 d-flex align-items-baseline">
          {{type}} <a href="#" class="badge"><img src="../assets/copy.svg" class="align-baseline">Copy</a>
        </div>
        
        <div class="text-uppercase code-name mb-1 font-weight-bold">{{code.codeName}}</div>

        <div class="text-uppercase text-caption code-duration">{{duration}}</div>

      </div>
      
      <div class="col-4 d-flex flex-column px-0">
        <div class="text-uppercase header-field mb-3">
          TRANSACTION
        </div>

        <div class="w-100 d-flex align-items-baseline">
          <div class="text-uppercase font-weight-bold currency col-4 pl-0">INR</div> 
          <div class="currency-amount rounded col mr-3">10,00,000</div>
        </div>

        <div class="w-100 d-flex align-items-baseline">
          <div class="text-uppercase font-weight-bold currency col-4 pl-0">USD</div> 
          <div class="currency-amount rounded col mr-3">5,25,555</div>
        </div>

      </div>

      <div class="col-2 px-0 text-center">
        
        <div class="text-uppercase header-field mb-3">
          VOLUME
        </div>

        <div class="volume-amount">{{code.maximumTotalUsage}}</div>

      </div>

      <div class="col-2 px-0 text-right pr-1">
        <div class="btn btn-edit" v-on:mouseover="editBtnHover = true" v-on:mouseout="editBtnHover = false">
          Edit  
          <img src="../assets/Edit_DarkBlue.svg" class="ml-1 align-baseline" v-if="!editBtnHover">
          <img src="../assets/Edit_White.svg" class="ml-1 align-baseline" v-if="editBtnHover">
        </div>
      </div>
    </div>

    <div class="w-100 d-flex px-2 align-items-baseline">
      <div class="code-desc text-truncate col-9 pl-0">* {{code.description}}</div>

      <div class="text-uppercase-font-weight-bold ml-auto code-status col-3 text-right">
        ACTIVE <img src="../assets/Right_tick_green.svg" class="ml-1 align-baseline"/>
      </div>
    </div>

  </div>

</template>

<script>
export default {
  name: "Card", 
  props:["code"],
  data: function(){
    return{
      editBtnHover: false
    }
  },
  computed: {
    type: function(){
      if(this.code.codeType == "D") return "Discount Code";
      else return "Promo Code";
    },
    duration: function(){
      let startDate = this.code.startDateTime.slice(0,10).split("-");
      let endDate = this.code.endDateTime.slice(0,10).split("-");
      
      let months = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"];
      
      startDate[1] = months[parseInt(startDate[1])];
      endDate[1] = months[parseInt(endDate[1])];
      
      return "(" + startDate.join(" ") + " - " + endDate.join(" ")+ ")";
    },
    amountINR: function() {
      return this.code.maximumINRAmount == "" ? "-" : this.code.maximumINRAmount;
    },
    amountUSD: function() {
      return this.code.maximumUSDAmount == "" ? "-" : this.code.maximumUSDAmount;
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../style.scss';
  
  .header-field{
    @extend %text-blue;
    
    font-weight: 600;

    a{
      font-size:10px;
      
      img{
        height:10px;
      }
    }
  }

  .code-name{
    @extend %text-red;
  }

  .code-duration{
    font-size: 0.8em;
  }

  .currency{
    @extend %text-red;
  }

  .currency-amount{
    font-size: 0.8em;
    background-color: #F5F8FF;
  }

  .volume-amount{
    font-size:0.8em;
  }

  .btn-edit{
    @extend %text-blue;
    border: 1px solid $color-blue;

  }

  .btn-edit:hover{
    background-color: $color-blue;
    color:white;
  }

  .code-desc{
    font-size: 0.8em;
    color: #C3C3C3;
  }

  .code-status{
    color: $color-green;
  }

</style>