<template>
  
  <div class="row w-100 mt-4 justify-content-around align-items-baseline">
      <div class="col-4 px-0">
        <button class="btn btn-block btn-lg btn-danger text-caption py-2 d-none d-lg-block">PROMO CODE</button>
      </div>
      <div class="col-4 col-lg-2">
        <button class="btn btn-block btn-create py-2 py-lg-1 text-caption" data-toggle="modal" data-target="#createCodeModal">CREATE A CODE</button>
      </div>
      <div class="col-4 px-0">
        <button class="btn btn-block btn-lg btn-danger text-caption py-2 d-none d-lg-block">DISCOUNT CODE</button>
      </div>
  </div>
  
</template>

<style lang="scss" scoped>
  @import '../style.scss';

  .btn-danger{
    @extend %btn-red;
  }

  .btn-create,.btn-create:hover{
    border: 1px solid $color-blue;
    background: $color-blue;
    color:white;
  }



@media screen and (min-width:990px) {

  .btn-create,.btn-create:hover{
    background: $color-blue url("../assets/Add_Green.svg") no-repeat ; 
    background-position: 95% 50%;

  }
  
}




</style>