<template>
  <div class="row d-flex pt-3">
    
    <div class="col-lg-6 col-12 mt-5">

      <div class="w-100 d-flex">
        <div class="col d-flex align-items-center radio-custom pl-0" v-on:click="codeType = 0">
          <div >Promo Code</div>
          <img src="../assets/Radio_Unchecked.svg" alt="promo" id="radioPromo" class="ml-auto radio-btn" v-if="codeType == 1">
          <img src="../assets/Radio_Checked.svg" alt="promo" id="radioPromo" class="ml-auto radio-btn" v-if="codeType == 0"> 
        </div>
        <div class="col d-flex align-items-center radio-custom" v-on:click="codeType = 1">
          <div>Discount Code</div>
          <img src="../assets/Radio_Unchecked.svg" alt="promo" id="radioDisc" class="ml-auto radio-btn" v-if="codeType == 0">
          <img src="../assets/Radio_Checked.svg" alt="promo" id="radioPromo" class="ml-auto radio-btn" v-if="codeType == 1">
        </div>

      </div>

      <div class="row align-items-center mt-4">
        <label for="inputName" class="col">Name</label>
        <div class="col ml-auto input-group input-group-sm">
          <input type="text" class="form-control" id="inputName">
        </div>
      </div>

      <div class="row align-items-top mt-3">
        <label for="inputDesc" class="col">Description</label>
        <div class="col ml-auto input-group input-group-sm">
          <textarea class="form-control" id="inputDesc" rows="3"/>
        </div>
      </div>

      <div class="row align-items-center mt-4">
        <label for="inputMinINR" class="col">Minimum Amount<small class="text-muted"> (INR)</small></label>
        <div class="col ml-auto input-group input-group-sm">
          <input type="text" class="form-control" id="inputMinINR">
        </div>
      </div>

      <div class="row align-items-center mt-4">
        <label for="inputMaxINR" class="col">Maximum Amount<small class="text-muted"> (INR)</small></label>
        <div class="col ml-auto input-group input-group-sm">
          <input type="text" class="form-control" id="inputMaxINR">
        </div>
      </div>

    </div>


    <div class="col-lg-6 col-12 mt-5">

      <div class="row align-items-center mt-5">
        <label for="inputStartDate" class="col-5">Start Date and Time</label>
        <div class="col-7 ml-auto input-group input-group-sm">
          <input type="text" class="form-control" id="inputStartDate">
        </div>
      </div>

      <div class="row align-items-center mt-3 mb-5">
        <label for="inputEndDate" class="col-5">End Date and Time</label>
        <div class="col-7 ml-auto input-group input-group-sm">
          <input type="text" class="form-control" id="inputEndDate">
        </div>
      </div>

      <div class="row align-items-center mt-5 pt-3">
        <label for="inputMaxUse" class="col-5">Maximum Total Use</label>
        <div class="col-7 ml-auto input-group input-group-sm">
          <input type="text" class="form-control" id="inputMaxUse">
        </div>
      </div>

      <div class="row align-items-center mt-4">
        <label for="inputMaxUsePC" class="col-5">Maximum Usage Per Customer</label>
        <div class="col-7 ml-auto input-group input-group-sm">
          <input type="text" class="form-control" id="inputMaxUsePC">
        </div>
      </div>

    </div>



  </div>

</template>

<style lang="scss" scoped>

  @import '../style.scss';

  .radio-btn{
    width: 18px;
    height: 18px;
  }

  .radio-custom:hover{
    cursor:pointer;
  }

  input[type="text"], textarea{
    border: 1px solid $color-muted;
  }

  small{
    color: $color-muted !important;
  }

</style>

<script>
export default {
  name: "CreateCode",
  data: function() {
    return{
      codeType: 0,
    }
  }
}
</script>