<template>

  <div class="row w-100 border rounded shadow-sm mx-1 pt-4">
    <div class="col-lg-5 col-10 d-flex">
      <div class="col d-flex flex-column px-1">
        <div class="text-caption mb-3">
          Offer Name
        </div>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control mb-2"/>
        </div>
      </div>

      <div class="col d-flex flex-column px-1">
        <div class="text-caption mb-3">
          Offer Mode
        </div>
        <div class="input-group input-group-sm">
          <select class="custom-select mb-2">
            <option>Promo</option>
            <option>Discount</option>
          </select>
        </div>
      </div>
      
      <div class="col d-flex flex-column px-1">
        <div class="text-caption mb-3">
          Offer Type
        </div>
        <div class="input-group input-group-sm">
          <select class="custom-select mb-2">
            <option>All</option>
            <option>Rates</option>
            <option>Charges</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-2 px-0 d-flex">
      <div class="col d-flex flex-column px-0">
        <div class="text-caption mb-3 text-center text-truncate">
          Amount
        </div>
        <div class="input-group input-group-sm">
          <input type="checkbox" class="form-control mb-2" name="filterBarCheckbox" id="checkbox-am"/>
        </div>
      </div>

      <div class="col d-flex flex-column px-0">
        <div class="text-caption mb-3 text-center text-truncate">
          Percentage
        </div>
        <div class="input-group input-group-sm">
          <input type="checkbox" class="form-control mb-2"  name="filterBarCheckbox" id="checkbox-per"/>
        </div>
      </div>
    </div>

    <div class="col-lg-5 col-10 d-flex pr-0">
      <div class="col d-flex flex-column px-1">
        <div class="text-caption mb-3">
          Status
        </div>
        <div class="input-group input-group-sm">
          <select class="custom-select mb-2">
            <option>Active</option>
            <option>Authorised</option>
            <option>Pending</option>
          </select>          
        </div>
      </div>

      <div class="col d-flex flex-column px-1">
        <div class="text-caption mb-3">
          Start Date
        </div>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control mb-2 datepicker"/>
        </div>
      </div>
      
      <div class="col d-flex flex-column px-1">
        <div class="text-caption mb-3">
          End Date
        </div>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control mb-2 datepicker"/>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-2 d-flex flex-column align-items-center px-0">
      <div class="row flex-column align-items-center justify-content-left">
        <button class="btn btn-sm btn-primary btn-download text-caption w-100">Download</button>
        <button class="btn btn-sm btn-secondary btn-clear text-caption mt-2 w-100">Clear All</button>
      </div>
      
    </div>


  </div>
    

</template>
<style lang="scss" scoped>
  @import '../style.scss';
  
  %input-box{
    border: 1px solid $color-muted;
    background-color: #F5F8FF;
  }

  input[type="text"]{
    @extend %input-box; 
  }

  .custom-select{
    @extend %input-box;

    background:#F5F8FF url("../assets/Dropdown_DarkBlue.svg") no-repeat right .75rem center/8px 10px;
  }

  .datepicker{
    background: #F5F8FF url("../assets/calendar_DarkBlue.svg") no-repeat right 0.75rem center/8px 10px;
  }

  .btn-download{
    border: 1px solid $color-blue;
    background-color: $color-blue !important;
    color:white;
  }


  .btn-clear{
    border: 1px solid $color-red;
    background-color: $color-red !important;
    color:white;
  }

</style>